.searchBar {
    display: flex;
    align-items: center;
    margin-right: 40px; 
    flex-direction: column;
  }
  
  .searchBar form {
    display: flex;
    align-items: center;
  }
  
  .searchBar input[type="search"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .searchBar button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #646cffaa;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.25s; /* Agregado para la transición del color de fondo */
    margin-left: 8px; /* Espacio entre el input y el botón de búsqueda */
    
  }
  
  .searchBar button:hover {
    background-color: #535bf2;
    border-color: #646cff; /* Agregado para la transición del color del borde */
  }
  
  .error {
    color: rgb(240, 26, 23);
    margin-top: 5px;
    margin-right: 80px;
  }