.form{
  width: 100%;
  max-width: 500px;
  margin: 50px auto; /* Centra el formulario en el medio */
  padding: 20px;
  text-align: center; /* Alinea el contenido al centro */
  }

  .form label,
.form input,
.form select {
  margin-bottom: 10px;
}
  .teams{
    margin: 50px auto;
  background-color: #333; /* Cambia el color de fondo */
  color: #fff; /* Cambia el color del texto */
  font-size:20px; /* Cambia el tamaño del texto */
  padding: 20px; /* Añade espacio interno alrededor del texto */
  border: 1px solid #ccc; /* Cambia el borde */
  border-radius: 4px; /* Cambia el radio de las esquinas */
  }

  .teams option:hover {
    background-color: #007bff; /* Cambia el color de fondo al pasar el cursor */
    color: #fff; /* Cambia el color del texto */
  }

  